* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  padding: 1rem 0.25rem 0;
  border-bottom: 1px solid #ccc;
}

.nav-list > li {
  float: left;
  padding: 1rem;
  border-top: 4px solid transparent;
  position: relative;
}

.nav-list > li:hover {
  border-color: red;
}

.nav-list li:hover .submenu {
  display: block;
}

.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 150px;
  border: 1px solid red;
}

.submenu li {
  display: block;
  padding: 0.5rem 0 0.5rem 0.25rem;
}

.clear {
  clear: both;
}
