* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  padding: 1rem 0.25rem 0;
  border-bottom: 1px solid #ccc;
}

header input,
header button {
  padding: 0.25rem;
}

.nav-list > li {
  float: left;
  padding: 1rem;
  border-top: 4px solid transparent;
  position: relative;
}

.nav-list > li:hover {
  border-color: red;
}

.nav-list li:hover .submenu {
  display: block;
}

.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 150px;
  background-color: #fff;
  border: 1px solid red;
}

.submenu li {
  display: block;
  padding: 0.5rem 0 0.5rem 0.25rem;
}

.clear {
  clear: both;
}

h2 {
  margin: 2rem 0;
}

#emphasis-section article {
  display: flex;
  gap: 0.5rem;
}

#emphasis-section article p {
  text-align: justify;
  font-size: 2rem;
}

.main-container {
  display: grid;
  grid-template-columns: 70% 25%;
  gap: calc(100% - (70% + 25%));
}

#last-news > div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 0.5rem;
  row-gap: 2rem;
}

#last-news img {
  max-width: 100%;
}

#aside-news article {
  text-align: justify;
  margin-bottom: 2rem;
}

aside img {
  max-width: 100%;
}
